body {
	font-family: sans-serif;
	background-color: whitesmoke;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.container {
	background-color: whitesmoke;
	text-align: center;
	align-items: center;
}

h1, h2 {
	text-transform: uppercase;
	font-weight: bolder;
	margin: 1em 0;
	letter-spacing: 3px;
	color: darkred;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 0.5em solid darkgreen;
	padding: 1.5em 0;
	align-items: center;
	margin-bottom: 0.7em;
}

.date {
	border: 2px darkgreen solid;
	padding: 0 1em;
	text-transform: uppercase;
	line-height: 0.2;
	background-color: white;
}

#day{
	font-weight: bold;
}

#daynum{
	font-weight: bold;
	color: red;
	font-size: 2em;
}

#month{
	
}

.clock {
	position: relative;
	border: 4px solid black;
	border-radius: 100%;
	padding: 50px;
	text-align: center;
}

#hours {
	position: absolute;
	background-color: black;
	width: 4px;
	height: 25px;
	margin: auto;
	transform-origin: left top;
}

#min {
	position: absolute;
	background-color: black;
	width: 2px;
	height: 40px;
	margin: auto;
	transform-origin: left top;
}

#sec {
	position: absolute;
	background-color: red;
	width: 1px;
	height: 45px;
	margin: auto;
	transform-origin: left top;
}

.pomodoro {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: -1em auto auto auto;
	padding: 1em;
}

.explain, .tasks {
	text-align: justify;
	border-right: 1px dotted darkgreen;
	padding-right: 2em;
}

.mainbutton {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.mainbutton div {
	background-color: whitesmoke;
	color: black;
	border-radius: 0.7em;
	padding: 0.2em 0.7em;
	transition: .5s;
	border: solid 1px black;
}
.mainbutton div:hover {
	background-color: black;
	color: whitesmoke;
	transition: .5s;
}

.tasklist {
	min-height: 3em;
	background-color: lightgoldenrodyellow;
	border: 1px outset black;
	margin-top: 1em;
	padding: 0.5em;
	display: none;
}

#wiki {
	transition: .5s;
}

#wiki:hover {
	transition: .5s;
}

a {
	text-decoration: none;
}

.timing {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	padding-left: 2em;
}

.images {
	min-width: 15em;
	min-height: 15em;
	border-radius: 100%;
	margin-right: 1em;
	background-image: url("../img/tomatime.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	transition: background-image 1s;
	-webkit-transition: background-image 1s; /* Safari, Chrome */
	-moz-transition: background-image 1s; /* Firefox */
	-o-transition: background-image 1s; /* Opera */
}

#timer {
	font-weight: bold;
	font-size: 2em;
	padding-left:0.2em;
	transition: color .5s;
}

#progressarea {
	width: 50%;
	margin-left: 50%;
	background-color: #ddd;
}

#progressbar {
	height: 30px;
}

.load {
	animation: load linear;
}

.unload {
	animation: unload linear;
}

@keyframes load {
	0% {
		width: 0%;
		background-color: red;
	}
	25% {
		background-color: yellow;
	}
	50% {
		background-color: #4CAF50;
	}
	100% {
		width: 100%;
		background-color: #4CAF50;
	}
}

@keyframes unload {
	0% {
		width: 100%;
		background-color: #4CAF50;
	}
	50% {
		background-color: #4CAF50;
	}
	75% {
		background-color: yellow;
	}
	100% {
		width: 0%;
		background-color: red;
	}
}

.buttons {
	display: flex;
	justify-content: space-between;
	padding: 1.5em;
	margin-top: 0.7em;
	border-top: 0.5em solid darkgreen;
}

button {
	background-color: darkgreen;
	color: whitesmoke;
	padding: 0.7em 0;
	min-width: 15%;
	text-transform: uppercase;
	font-weight: bolder;
	letter-spacing: 0.07em;
}

button:hover {
	background-color: green;
}
