body {
	font-family: sans-serif;
	background-color: darkgreen;
}

.container {
	background-color: whitesmoke;
	text-align: center;
}

h1 {
	text-transform: uppercase;
	font-weight: bolder;
	margin: 1em 0;
	letter-spacing: 3px;
	color: darkgreen;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 1em solid darkgreen;
	border-top: 1em solid darkgreen;
	padding: 1em 0;
	align-items: center;
}

.date {
	border: 2px darkgreen solid;
	border-radius: 5%;
	padding: 3em 1em;
}

.clock {
	position: relative;
	border: 4px solid black;
	border-radius: 100%;
	padding: 50px;
	text-align: center;
}

#hours {
	position: absolute;
	background-color: black;
	width: 4px;
	height: 25px;
	margin: auto;
	transform-origin: left top;
}

#min {
	position: absolute;
	background-color: black;
	width: 2px;
	height: 40px;
	margin: auto;
	transform-origin: left top;
}

#sec {
	position: absolute;
	background-color: red;
	width: 1px;
	height: 45px;
	margin: auto;
	transform-origin: left top;
}

.pomodoro {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: -1em auto auto auto;
	padding: 1em;
	min-height: 30em;
}

.explain {
	text-align: justify;
	border-right: 1px dotted darkgreen;
	padding: 10em 3em;
}

.timing {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
}

.images {
	min-width: 15em;
	min-height: 15em;
	border-radius: 100%;
	margin-right: 1em;background-image: url("../img/tomatime.jpg");
	background-position: center;
	background-size: 15em;
}

#timer {
	font-weight: bold;
	padding-left:1em;
}

.buttons {
	display: flex;
	justify-content: space-between;
	padding: 1em;
	border-top: 1em solid darkgreen;
}

button {
	background-color: darkgreen;
	color: whitesmoke;
	padding: 0.7em 3em;
	border-radius: 50%;
	min-width: 15%;
	text-transform: uppercase;
	font-weight: bolder;
	letter-spacing: 0.07em;
}